src/main/mule/google-bigquery.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:bigquery="http://www.mulesoft.org/schema/mule/bigquery" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/bigquery http://www.mulesoft.org/schema/mule/bigquery/current/mule-bigquery.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="028bc0f5-a2bc-457d-8b0c-c95c3598548c" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>

	<configuration-properties doc:name="Configuration properties" doc:id="17cbfbd5-c7b7-4d70-9560-feaa187f23e9" file="mule-properties.yaml" />
	<bigquery:config name="BigQuery__Configuration" doc:name="BigQuery  Configuration" doc:id="bd6a4868-82b0-4263-bfa3-8ef41994d5a7" >
		<bigquery:jwt-connection 
		appName="${bigquery.appName}" 
		privateKeyId="" 
		issuer="${bigquery.issuer}" 
		projectId="${bigquery.projectId}" 
		privateKey=""/>
	</bigquery:config>
	<flow name="google-bigqueryFlow" doc:id="37570353-2813-48ee-8678-f46c9f588eaa" >
		<http:listener doc:name=":8081/read" doc:id="0e97f08c-9445-4570-93b9-e555d4c6fe8c" config-ref="HTTP_Listener_config" path="/read"/>
		<ee:transform doc:name="Transform Message" doc:id="fb157852-ac91-4505-b21c-4cb056663340" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	query: "SELECT * FROM mfrm.data LIMIT 5",
	maxResults: "1"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<bigquery:query doc:name="Query" doc:id="8c0d9064-ae58-4258-9dbc-4d84b9d9dbec" config-ref="BigQuery__Configuration">
			<bigquery:query-values-content ><![CDATA[#[payload]]]></bigquery:query-values-content>
		</bigquery:query>
		<ee:transform doc:name="Transform Message" doc:id="02203d60-2da7-4a83-bd04-8e13c1ee9f7a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
